form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #6ecdad;
}
label{
    font-size: 24px;
    font-weight: bold;
}

